@model MyClass.Models.Menu

@{
    ViewBag.Title = "Thêm danh sách Menu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .margin_left {
        margin-left: 25rem;
    }

    .form-control {
        padding: 0px;
    }

    select.form-control:not([size]):not([multiple]) {
        height: calc(1.25rem + 21px);
    }
</style>
@using (Html.BeginForm("Create","Menus",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card margin_left">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 text-danger text-uppercase ">
                    <strong>THÊM DANH SÁCH MENU</strong>
                </div>
                <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-success btn-sm">
                        <i class="fas fa-save"></i>Lưu
                    </button>
                    <a class="btn btn-sm btn-info" href="@Url.Action("Index", "Menus")"><i class="fas fa-backward"></i>Trở lại</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Tên Menu</label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Kiểu menu</label>
                        @Html.TextAreaFor(model => model.Type, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Mã trong bảng</label>
                        @Html.TextAreaFor(model => model.TableId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TableId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Thứ tự</label>
                        @Html.EditorFor(model => model.Orders, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Orders, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Mã cấp cha</label>
                        @Html.EditorFor(model => model.ParentId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Vị trí</label>
                        @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Trạng thái</label>
                        @Html.DropDownListFor(model => model.Status, new[] {
                                                   new SelectListItem { Text = "Xuất bản", Value = "1" },
                                                   new SelectListItem { Text = "Chưa xuất bản", Value = "2" }
                                                    }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>                  
}

