@model IEnumerable<MyClass.Models.Menu>
@{
    ViewBag.Title = "Thùng rác";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div style="width:250px" class="col-2">
    </div>
    <div class="content-wrapper col">
        <section class="content">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6 text-danger text-uppercase">
                            <strong>THÙNG RÁC Menu</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <a class="btn btn-sm btn-info" href="@Url.Action("Index","Menus")"><i class="fas fa-backward"></i>Trở lại</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @Html.Partial("_XMessage")
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th style="width:100px">Tên Menu</th>
                            <th style="width:10px">Link</th>
                            <th style="width:100px">Ngày tạo</th>
                            <th style="width:100px">Ngày cập nhật</th>
                            <th style="width:80px">Chức năng</th>
                            <th style="width:10px">ID</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @item.Link
                        </td>
                        <td>@item.Created_at</td>
                        <td>@item.Updated_at</td>
                        <td>

                            <a class="btn btn-group-sm btn-info" href="@Url.Action("Retrash","Menus",new { id = item.Id })">
                                <i class="fas fa-undo-alt"></i>
                            </a>
                            <a class="btn btn-group-sm btn-danger" href="@Url.Action("Delete","Menus",new { id = item.Id })">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>

                    </tr>
                        }

                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

